@import "helpers/borders";
@import "helpers/classes";
@import "helpers/colors";
@import "helpers/mixins";

@import "components/blocks";
@import "components/buttons";
@import "components/containers";
@import "components/dropdowns";
@import "components/footer";
@import "components/maps";
@import "components/navbar";
@import "components/network";
@import "components/sankey";
@import "components/sections";
@import "components/sliders";
@import "components/tabs";
@import "components/tables";
@import "components/text";
@import "components/tooltips";

@import "pages/login";
@import "pages/home";

@import "charts/conceptMap";
@import "charts/timeline";
@import "charts/bubbleChart";

body {
  font-family: "Open Sans", sans-serif;
  color: $black;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 22px;
}
p {
  max-width: 600px;
  &.wide {
    max-width: 700px;
  }
}

.btn {
  border: 2px solid #023f88;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: $primary-dark-blue;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  display: inline-block;
  &:hover {
    background-color: #f4f4f4;
  }
  &:active,
  &:hover:active {
    box-shadow: 5px 5px 15px 0 #b3b3b3;
    -webkit-box-shadow: 5px 5px 15px 0 #b3b3b3;
    background-color: white;
    color: $primary-dark-blue;
    border-color: $primary-dark-blue;
  }
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(180deg, rgba(2, 63, 136, 0.85) 0%, #023f88 100%);
  color: white;
  &:hover {
    background: white;
    color: $primary-dark-blue;
  }
}

.login-button-container {
  text-align: left;
  .btn {
    text-align: left;
    margin-top: 20px;
  }
}

.legend-div {
  position: absolute;
  height: 25px;
  width: 250px;
  top: 1200px;
}

.info-tooltip {
  width: 12px;
  height: 12px;
}
