@import "helpers/borders";
@import "helpers/classes";
@import "helpers/colors";
@import "helpers/mixins";

@import "components/blocks";
@import "components/buttons";
@import "components/containers";
@import "components/dropdowns";
@import "components/footer";
@import "components/maps";
@import "components/navbar";
@import "components/network";
@import "components/sankey";
@import "components/sections";
@import "components/sliders";
@import "components/tabs";
@import "components/tables";
@import "components/text";
@import "components/tooltips";

@import "pages/login";
@import "pages/home";

@import "charts/conceptMap";
@import "charts/timeline";
@import "charts/bubbleChart";

body {
  font-family: "Open Sans", sans-serif;
  color: $black;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 22px;
}
p {
  max-width: 600px;
  &.wide {
    max-width: 700px;
  }
}

.legend-div {
  position: absolute;
  height: 25px;
  width: 250px;
  top: 1200px;
}

.info-tooltip {
  width: 12px;
  height: 12px;
}
