.alt-btn {
	padding: 5px 15px;
	@include border-radius(7.5px);
}
.alt-btn-large {
	padding: 10px 25px;
	@include border-radius(7.5px);
}

.login-button-container {
	text-align: center;
}

.arrow-navigation {
	@include flexbox();

	// right-arrow-container flexbox details
	.right-arrow-container {
		@include flex(1);
		text-align: right;
		margin-right: -99px;
	}

	.left-arrow-container {
		@include flex(1);
		text-align: left;
		flex-basis: 100%;
		margin-left: -84px;
	}

	.arrow-container {
		@include flex(1);
		//text-align: right;
		justify-content: space-between;
	}

	.left img {
		width: 60px;
		height: 60px;
		//margin-left: -84px;
	}

	.right img {
		width: 60px;
		height: 60px;
		//margin-right: -99px;
	}
	/*
	//text-align: center;
	a {
		display: inline-block;
		border-radius: 50%;
	}

	a:hover .left, a:hover .top, a:hover .bottom, a:hover .right{
		border: 0.5em solid #e74c3c;
	}

	a:hover .left:after, a:hover .top:after, a:hover .bottom:after, a:hover .right:after {
		border-top: 0.5em solid #e74c3c;
		border-right: 0.5em solid #e74c3c;
	}

	// Use this if you want to hand draw the left arrow
	.left {
		display: inline-block;
		width: 3em;
		height: 3em;
		border: 0.5em solid $dark-blue;
		border-radius: 50%;
		margin-right: 1.5em;
	}

	.left:after {
		content: '';
		display: inline-block;
		margin-top: 0.5em;
		margin-left: 0.5em;
		width: 1.0em;
		height: 1.0em;
		border-top: 0.5em solid $dark-blue;
		border-right: 0.5em solid $dark-blue;
		-moz-transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}


	.right {
		display: inline-block;
		width: 3em;
		height: 3em;
		border: 0.5em solid $dark-blue;
		border-radius: 50%;
		margin-left: 1.5em;
	}

	.right:after {
		content: '';
		display: inline-block;
		margin-top: 0.5em;
		margin-right: 0.5em;
		width: 1.0em;
		height: 1.0em;
		border-top: 0.5em solid $dark-blue;
		border-right: 0.5em solid $dark-blue;
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.top {
		display: inline-block;
		width: 4em;
		height: 4em;
		border: 0.5em solid $dark-blue;
		border-radius: 50%;
		margin-right: 0.75em;
	}

	.top:after {
		content: '';
		display: inline-block;
		margin-top: 1.4em;
		width: 1.4em;
		height: 1.4em;
		border-top: 0.5em solid $dark-blue;
		border-right: 0.5em solid $dark-blue;
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.bottom {
		display: inline-block;
		width: 4em;
		height: 4em;
		border: 0.5em solid $dark-blue;
		border-radius: 50%;
		margin-left: 0.75em;
	}

	.bottom:after {
		content: '';
		display: inline-block;
		margin-top: 0.6em;
		width: 1.4em;
		height: 1.4em;
		border-top: 0.5em solid $dark-blue;
		border-right: 0.5em solid $dark-blue;
		-moz-transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}
*/

}