.navbar {
	border-bottom: $border;
	@include gradient(#fff, #f0f0f0);

	.navbar-brand {
		position: relative;
		top: -8px;
		color: #555;
	}
	.logo {
		display: inline-block;
		width: 100px;
		height: 40px;
		margin-right: 5px;
	}
	.navbar-nav > li {
		&.active,
		&:hover {
			@include gradient(#e9e9e9, #e0e0e0);
		}
	}
	.navbar-nav > li > a {
		color: #555;
	}
	.dropdown-menu {
		min-width: 120px;
	}
	.logout-link { cursor: pointer; }
}
