.open-sans-message {
	margin-top: 30px;
	font-size: 1.3em;
}
.raleway-message {
	margin-top: 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 1.6em;
}
.example-snippet {
	margin-top: 35px;
}
.example-title {
	font-weight: 300;
	font-size: 1.8em;
}
.example-title-bold {
	font-weight: 600;
	font-size: 1.2em;
}
.example-subtitle {
	margin-top: 2px;
}
