.main-page {
  border-left: $border;
  border-right: $border;
  padding-left: 30px;

  .timeline-section {
  //  margin-bottom: 30px;
    //padding-bottom: 30px;
    //border-bottom: $border;
  }

  .spaghetti-section {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .starburst-section {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .home-instructions {
    margin-top: 20px;
    color: #aa0000;
    font-style: italic;
    font-weight: 600;
    text-align: center;
  }
}



.pathways-img {
  padding-bottom: 20px;
}

.pathways-timeline-img {
  padding-top: 20px;
}
